/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* variabili */

:root{
    /* palette */
    --primary-col: #0084FD;
    --primary-col-light: #
    --secondary-col: #
    --secondary-col-light:
 
}
/* command */
html{
    /* fontfasmili */
    font-size:100%;
}

.container{
    width: 100%;
    padding: 0 1rem;
}
/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    color: white;
    padding: 1rem 0rem;
    background-color: var(--primary-col);
    
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .hamburger-menu{
    font-size: 1.5rem;
}
header nav{
    display: none;
}

/* header mediaquery */
/* tablet */
@media screen and (min-width:768px){

}
/* desktop */
@media screen and (min-width:992px){

    /* common */
    .container{
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;

        /* debig */
        border: 1px solid black;
    }

    /* header */

    header .hamburger-menu{
        display: none;
    }

    header nav{
        display: block;
    }
    header ul{
        display: flex;
        list-style: none;
    }

    header li{
        margin-left: 1em;
    }
}