/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* variabili */

:root{
    /* palette */
    --primary-col: #0084FD;
    --primary-col-light: #B5DDFF;
    --secondary-col: #9792E4;
    
    /* common */
    --white:white;
    --black:black;

    /* spaces */
    --grid-gutter: 1.5rem;
}
/* command */
html{
    /* fontfasmili */
    font-size:100%;
}

.container{
    width: 100%;
    padding: 0 1rem;
}

.card{
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 1em;
    /* debug */
    border: 1px solid red;
}
/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    color: white;
    padding: 1rem 0rem;
    background-color: var(--primary-col);
    
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .hamburger-menu{
    font-size: 1.5rem;
}
header nav{
    display: none;
}


/* main */
/* about section */

#about{
    padding-top: 6rem;
}

#about .card{
    background-color: var(--primary-col-light);
}

.text-wrapper{
    margin-bottom: 1em;

    /* debug */
    background-color: lightcoral;
}

.img-wrapper{
    background-color: lightgreen;
}


/* seconda sezione */
#secondary  p{
    margin-top: 1em;
}
#secondary  h2{
    margin-top: 1em;
}

#secondary .container{
    background-color: var(--secondary-col);
    color:var(--white);
}

#secondary .card:last-child{
    background-color:var(--white);
    color: var(--black);
}

/* terza sezione */

#terza .card{
    background-color: var(--secondary-col);
    color: var(--white);
    margin-top: 1em;
}


#terza .image-terza-sezione img{
    border-radius: 50%;
    padding: 1rem;
}

/* quarta sezione */

#quarta .container{
    background-color: var(--secondary-col);
    color: var(--white);
}

#quarta .card{
    background-color: var(--white);
    color: var(--secondary-col);
    margin-top: 1rem;
}

#quarta .card p{
    color: var(--black);
}
/* mediaquery */
/* tablet */
@media screen and (min-width:768px){
    /* main */
    /* about section */
    #about .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--grid-gutter);
    }
    #about .card{
        width: calc(100% / 3 - var(--grid-gutter) * 2 / 3);
        margin-bottom: 0;
    }

    #about .card:first-child{
        width: calc(100% / 3 * 2 - var(--grid-gutter) / 3);
    }

    /* terza sezione */

    #terza .card{
        display: flex;
    }
    
    /* quarta sezione */
    #quarta .cards{
        display: flex;
        flex-wrap: wrap;
    }
    
    #quarta .card{
        width: calc(100% / 2 - var(--grid-gutter));
        margin-left: var(--grid-gutter);
    }
    
}
/* desktop */
@media screen and (min-width:992px){

    /* common */
    .container{
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
        /* debig */
        border: 1px solid black;
    }

    /* header */

    header .hamburger-menu{
        display: none;
    }

    header nav{
        display: block;
    }
    header ul{
        display: flex;
        list-style: none;
    }

    header li{
        margin-left: 1em;
    }

    /* main */
    /* about section */

    #about .card:first-child{
        display: flex;

    }

    #about .container{
        padding-bottom: 2rem;
    }

    .text-wrapper{
        width: 50%;
        /* padding: 0.5rem; */
        margin-bottom: 0;
    }

    /* seconda sezione */

    #secondary .container{
        display: flex;
        padding-top: 2rem;
    }

    /* quarta sezione */

    #quarta .card{
        width: calc(100% / 3 - var(--grid-gutter));
        margin-left: var(--grid-gutter);
    }
}

